/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/11/2022, 07:28:34 PM
    Author     : Edwin
*/
body{
    background-color: #E4E9F7; 
}

.aa{
      border-radius: 10px; 
}

.form-data{
    height: 100%;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.452);
    border-radius: 10px;
    margin-left:35%;
    padding-top:2%;
}
.form-dataa{
    margin-top: 2%;
    height: 100%;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.452);
    border-radius: 10px;
    padding-top:2%;
}
.form-data2{
    margin-top: 1%;
    height: 100%;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.452);
    border-radius: 10px;
    margin-left: 20%;
    padding-top:2%;
}
.form-data3{
    margin-top: 1%;
    height: 100%;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.452);
    border-radius: 10px;
    padding-top:2%;
}
.form-data4{
    margin-top: 1%;
    height: 100%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.452);
    border-radius: 10px;
    padding-top:2%;
}
h1{
    display:flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 2em;
  
}
.titulo1{
    margin-top: 7%;
}
.formularioo{
    margin-left: -50%;
}
form{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.formulario__input {
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}
input, select{    
    box-shadow: 0px 3px 0px #e67e22;
    text-decoration: none;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    border: 3px solid transparent;
}
label{
    margin-top: 5%;
    text-align: start;
}
.peluq{
    margin-left: 0%;
    display: flex;
    text-align: start;
}
#archivo {
    background: #fff; 
    box-shadow: 0px 3px 0px #e67e22;
    text-decoration: none;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    border: 3px solid transparent;
    margin-left: -30%;
}
.foto input {
    display: none;
}
.fotito{
    margin-left: 50%;  
}
.btn{
    margin-top: 10%;
    margin-left: 25%;
}
.btn2{
    margin-top: 3%;
    margin-left: 25%;
}
button{
    margin-top: -5%;
    height: 50px;
    width: 50%;
    margin-left: 33%;
    border-radius: 10px; 
    background: #130f40;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:hover{
    background: #e67e22;
    transition: .3s;
}
.gatuno{
    margin-top: 7%;
    margin-left: 5%;
    width: 30%;
    position: absolute;
    border-radius: 10%;
}
.gatuno2{
    margin-top: 0%;
    width: 10%;
    position: absolute;
    margin-left: -25%;
    border-radius: 10%;
}
.gatuno3{
    margin-top: 7%;
    margin-left: 4%;
    width: 25%;
    position: absolute;
    border-radius: 10%;
}
.gatuno4{
    margin-top: 6%;
    margin-left: -30%;
    width: 30%;
    position: absolute;
    border-radius: 10%; 
}
.gatuno5{
    margin-top: 5%;
    margin-left: -30%;
    width: 30%;
    position: absolute;
    border-radius: 10%;
}
.gatuno6{
    margin-top: 0.5%;
    width: 20%;
    position: absolute;
    margin-left: -25%;
    border-radius: 10%;
}
.gatuno7{
    margin-top: 2%;
    margin-left: -22%;
    width: 20%;
    position: absolute;
    border-radius: 50%;
}
.usur, .contra{
    margin-left: 6%;
}
a{
    text-decoration: none;
}
.mensaje{
    display:flex;
    aling-items:center;
    justify-content: center;
}
.regresar:hover{
    color: #e67e22;
}
.rolcito{
    margin-top: 10%;
    height: 100%;
    width: 50%;
    background-color: #e67d2274;
    border-radius: 10px;
}
.atras{
        background: #e67e22;
    border-radius: 52px;
    /* border: none; */
    color: white;
    padding: 5px 12px;
    /* text-align: center; */
    /* text-decoration: none; */
    /* display: inline-block; */
    /* font-size: 20px; */
    margin: -17px 7px;
    cursor: pointer;
    /* width: 1px; */
    position: fixed;
}
@media(max-width: 1024px){
    h1{
        text-align: center;
    }
    img{
        display: none;
    }
    input, select{    
        box-shadow: 0px 3px 0px #e67e22;
        text-decoration: none;
        border-radius: 5px;
        height: 30px;
        width: 100%;
    }
    .form-data{
        margin-left: 10%;
        margin-top: 3%;
        height: 100%;
        width: 80%;
        background-color: rgba(255, 255, 255, 0.452);
        border-radius: 10px;
        padding-top:3%;
    }
    .form-dataa{
        margin-left: 0%;
        margin-top: 3%;
        height: 100%;
        width: 80%;
        background-color: rgba(255, 255, 255, 0.452);
        border-radius: 10px;
        padding-top:3%;
    }
    .form-data2{
        margin-left: 10%;
        margin-top: 3%;
        height: 100%;
        width: 80%;
        background-color: rgba(255, 255, 255, 0.452);
        border-radius: 10px;
        padding-top:3%;
    }
    .form-data3{
        margin-left: 0%;
        margin-top: 3%;
        height: 100%;
        width: 80%;
        background-color: rgba(255, 255, 255, 0.452);
        border-radius: 10px;
        padding-top:3%;
    }
    form{
        display:flex;
        justify-content: center;
        flex-direction: column;
        width: 70%;
        margin-left: -2%;
    }
}
@media (max-width: 420px){
    h1{
        text-align: center;
    }
    img{
        display: none;
    }
    input, select{    
        box-shadow: 0px 3px 0px #e67e22;
        text-decoration: none;
        border-radius: 5px;
        height: 30px;
        width: 250%;
    }
    .form-data{
        margin-top: 3%;
        height: 100%;
        width: 80%;
        background-color: rgba(255, 255, 255, 0.452);
        border-radius: 10px;
        margin-left: 10%;
        padding-top:3%;
    }
    form{
        display:flex;
        justify-content: center;
        flex-direction: column;
        width: 30%;
        margin-left: -40%;
    }

    label{
        margin-left: -15%;
        text-align: start;
    }
    button{
        margin-top: -5%;
        height: 50px;
        width: 120%;
        margin-left: 70%;
        border-radius: 10%; 
        background: #130f40;
        color: #fff;
        border: none;
    }
    .form-dataa{
        margin-top: 3%;
        height: 100%;
        width: 80%;
        background-color: rgba(255, 255, 255, 0.452);
        border-radius: 10px;
        margin-left: 2%;
        padding-top:8%;
    }
    .btn{
        margin-left: 60%;
    }
    .btn2{
        margin-left: 50%;
    }
    .form-data2{
        margin-top: 3%;
        height: 100%;
        width: 80%;
        background-color: rgba(255, 255, 255, 0.452);
        border-radius: 10px;
        margin-left: 10%;
        padding-top: 3%;
    }
    .form-data3{
        margin-top: 3%;
        height: 100%;
        width: 80%;
        background-color: rgba(255, 255, 255, 0.452);
        border-radius: 10px;
        margin-left: 2%;
        padding-top: 3%;
    }
    .form-data4{
        margin-top: 3%;
        height: 100%;
        width: 80%;
        background-color: rgba(255, 255, 255, 0.452);
        border-radius: 10px;
        margin-left: 2%;
        padding-top: 3%;
    }
    .formulario__input{
        width: 230%;
        background: #fff;
        border: 3px solid transparent;
        border-radius: 3px;
        height: 45px;
        line-height: 45px;
        padding: 0 40px 0 10px;
        transition: .3s ease all;
    }
    #archivo {
        background: #fff; 
        box-shadow: 0px 3px 0px #e67e22;
        text-decoration: none;
        border-radius: 5px;
        height: 30px;
        width: 200%;
        border: 3px solid transparent;
        margin-left: -30%;
    }
}