/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/09/2022, 07:28:30 PM
    Author     : DIEGO
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
   --main-color:#8e44ad;
   --black:#222;
   --white:#fff;
   --light-black:#777;
   --light-white:#fff9;
   --dark-bg:rgba(0,0,0,.7);
   --light-bg:#eee;
   --border:.1rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
}


html{
   font-size: 62.5%;
   overflow-x: hidden;
}

html::-webkit-scrollbar{
   width: 1rem;
}

html::-webkit-scrollbar-track{
   background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
}

section{
   padding:5rem 10%;
}

@keyframes fadeIn {
   0%{
      transform: scale(0);
      opacity: 0;
   }
}


.heading-title{
   text-align: center;
   margin-bottom: 3rem;
   font-size: 6rem;
   text-transform: uppercase;
   color:var(--black);
}

.header{
   position: sticky;
   top:0; left:0; right:0;
   z-index: 1000;
   background-color: var(--white);
   display: flex;
   padding-top: 2rem;
   padding-bottom: 2rem;
   box-shadow: var(--box-shadow);
   align-items: center;
   justify-content: space-between;
}

.header .logo{
   font-size: 2.5rem;
   color:var(--black);
}

.header .navbar a{
   font-size: 2rem;
   margin-left: 2rem;
   color:var(--black);
}

.header .navbar a:hover{
   color:var(--main-color);
}

#menu-btn{
   font-size: 2.5rem;
   cursor: pointer;
   color:var(--black);
   display: none;
}



/*-------------------FORM---------------------*/

.heading-title{
   margin-top: -20px;
   font-size: 25px;
}

.container-ejercicios {
   position: relative;
   margin-top: -70px;
   width: 25%;
   height: 1000px;
   margin-left: 37.5%;
   overflow: hidden;
   background-color: #E6E7E8;
   display: flex;
   box-shadow: 1px 1px 8px 1px #2f3031;

}

.form-data {
   width: 100%;
   height: 100%;
   position: absolute;
   right: 0;
   top: 0;
   
}

.form-data form {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: column;
}


.box-input  {
   position: relative;
   width: 100%;
   display: flex;
   justify-content: center;
   
}
.box-input1  {
   position: relative;
   width: 100%;
   display: flex;
   justify-content: center;
   
}


.formulario__grupo{
   width: 80%;
}

.box-input input,
.box-input select {
   width: 100%;
   background-color: #c2c3c5;
   outline: none;
   border: none;
   padding: 10px;
   padding-left: 40px;
   border-radius: 25px;
}




.box-input1 input{
   width: 100%;
   background-color: #c2c3c5;
   border-radius: 25px;
   padding-left: 40px;
   height: 40px;
}


.form-data label {
   font-size: 15px;

}

form button {
   cursor: pointer;
   border: none;
   width: 80%;
   background: #263481;
   padding: 10px 20px;
   outline: none;
   border-radius: 5px;
   box-shadow: 0px 0px 20px 1px #2f3031;
}

/*------------------------Validaciones----------------------------*/



.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}




/*-----SELECT------*/

.select{
   background-color: #c2c3c5;
   border-radius: 25px;
   padding: 10px;
   padding-left: 40px;
   margin-top: -5em;
   position: relative;
   width: 80%;
   display: flex;
   justify-content: center;
   overflow: hidden;
}


.box-input .terminos{
   font-size: 50px;
}

/*-------------MODAl---------*/

.modal{
   background-color: rgba(0,0,0,0.7);
   width: 100%;
   height: 100%;
   position: fixed;
   z-index: 1;
   top: 0;
   overflow: auto;
   padding-top: 200px;
   display: none;
   text-align: center;
}

.contenidoModal{
   background-color: #FFFFFF;
   width: 20%;
   height: 50%;
   border-radius: 10px;
   margin: auto;
   position: relative;
   padding: 1rem;
   animation-name: animarmodal;
   animation-duration: 0.5s;
}

.contenidoModal label{
   font-size: 15px;
}

.contenidoModal input {
   width: 60%;
   background-color: #c2c3c5;
   outline: none;
   border: none;
   padding: 10px;
   margin-top: 2%;
   padding-left: 40px;
   border-radius: 15px;
}

@keyframes animarmodal {
   from {top: -300px; opacity: 0;}
   to{top: 0; opacity: 1;}
}
.cerrarModal-form {
   cursor: pointer;
   font-size: 2rem;
   float: right;  
}

.contenidoModal p{
   font-size: 17px;
   width: 80%;
   margin-left: 35px;
   margin-top: 25px;

}



.cerrarModal-form:hover{
   cursor: pointer;
}

.contenidoModal h2{
   
   background-color: blueviolet;
   color: #FFFFFF;
   width: 80%;
   padding: 1rem 0;
   margin-left: 40px;
   border-radius: 10px;
   
}



/* media queries  */

@media (max-width:1200px){

   section{
      padding:3rem 5%;
   }

   .heading-title{
      font-size: 4rem;
   }
   .container-ejercicios {
      margin-left: 30%;
      width: 40%;
      margin-top: -5%;
   }

   .contenidoModal{
      width: 40%;
   }

   .contenidoModal h2{
      margin-left: 10%;
   }

   .contenidoModal p{
      font-size: 15px;
   }

}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

   section{
      padding:3rem 2rem;
   }

   .heading-title{
      font-size: 4rem;
   }
   .container-ejercicios {
      margin-left: 25%;
      width: 50%;
      margin-top: -5%;
   }

   .contenidoModal{
      width: 50%;
   }

   .contenidoModal h2{
      margin-left: 10%;
   }

   .contenidoModal p{
      font-size: 15px;
   }
   
}

@media (max-width:768px){

   .heading-title{
      font-size: 4rem;
   }

   #menu-btn{
      display: inline-block;
      transition: .2s linear;
   }

   #menu-btn.fa-times{
      transform: rotate(180deg);
   }

   .header .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: var(--white);
      border-top: var(--border);
      padding:2rem;
      transition: .2s linear;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .navbar a{
      display: block;
      margin:2rem;
      text-align: center;
   }

   .container-ejercicios {
      margin-left: 25%;
      width: 55%;
      margin-top: -5%;
   }

   .contenidoModal{
      width: 70%;
   }

   .contenidoModal h2{
      margin-left: 10%;
   }

   .contenidoModal p{
      font-size: 15px;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .container-ejercicios {
      margin-left: 16%;
      width: 70%;
      margin-top: -10%;
   }

   .heading-title{
      font-size: 3rem;
   }

   .contenidoModal{
      width: 90%;
     
   }

   .contenidoModal h2{
      margin-left: 10%;
   }

   .contenidoModal p{
      font-size: 15px;
   }



}



