/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5/11/2022, 02:36:29 PM
    Author     : DIEGO
*/

.pdf-cont{
        display: flex;
    margin-bottom: 3em;
    flex-direction: column-reverse;
}
.btn-pdf{
    border: none;
    padding: 0.5em;
    width: 30%;
    color: #ffff;
    font-weight: 600;
    background-color: #7cb1ff;
    border-radius: 5px;
    margin-top: 1em;
}

/*.pdf{
    background: palevioletred
}*/

tr:hover {background-color: gray;}

.btn-new{
    display: flex;
    border-radius: 5px;
    width: 30%;
    padding: 10px ;
    text-decoration: none;
    font-size: 13px;
    color: #000;
    background: #8BEC6F; 
    justify-content: center;
}

.btn-update{
    border-radius: 5px;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 13px;
    color: #000;
    background: orange; 
}

.btn-delete{
    border-radius: 5px;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 13px;
    color: #000;
    background: red; 
}

.btn{
    border-radius: 5px;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 13px;
    color: #000;
    background: red; 
}