/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5/11/2022, 02:36:29 PM
    Author     : DIEGO
*/





.btn-new{
    display: flex;
    border-radius: 5px;
    width: 30%;
    padding: 10px ;
    text-decoration: none;
    font-size: 13px;
    color: #000;
    background: #8BEC6F; 
    justify-content: center;
}

.btn-update{
    border-radius: 5px;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 13px;
    color: #000;
    background: orange; 
}

.btn-delete{
    border-radius: 5px;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 13px;
    color: #000;
    background: red; 
}

.btn-rol{
    padding: 8px 12px;
    background: #ffc78e;
    border: none;
    border-radius: 5px;
}


.btn-pdf{
    border: none;
    background: none;
    color: #fff;
}

.pdf{
    border: none;
    padding: 8px 46px;
    background: #5aa4ff;
    color: #fff;
    font-size: 1em;
    border-radius: 9px;
}

.cont-head{
    display: flex;
    width: 38%;
    justify-content: space-between;
}

.imageci{
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.img-usu{
    width: 70%;
}


